.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D7075;
    background-color: #ECEAF1;
    text-transform: uppercase;
    border-radius: 1rem;
    width: fit-content;
    height: 27px;
    padding: 0.1rem 1rem;
    outline: none;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}