.container {
  background-image: url("https://i.shgcdn.com/2c54017c-82f5-4931-a660-31c88c73e6be/-/format/auto/-/preview/3000x3000/-/quality/lighter/");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
