.build-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

.build-info-item span {
    font-size: 1.5rem;
}

.icon {
    width: 30px;
    height: 30px;
    filter: invert(40%) sepia(10%) saturate(300%) hue-rotate(200deg);
}