.FloorDashboard {
    width: 100%;
}

.FloorDashboard nav {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  color: #37393a;
  margin-left: 2rem;
}

.content {
    width: 100%;
    border: 2px solid #DCDDDF;
    border-radius: 4px;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: flex-start;
}

.content::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 157px;
    width: 81px;
    height: 2px;
    background-color: white;
  }

  .contentHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .deviceImage {
    width: 200px;
    height: 200px;
  }
